# lynx.cfg file for gigof
STARTFILE:gopher://dome.circumlunar.space
HELPFILE:file://localhost/usr/share/doc/lynx-cur/lynx_help/lynx_help_main.html.gz
DEFAULT_INDEX_FILE:gopher://zaibatsu.circumlunar.space
GOTOBUFFER:FALSE
#JUMPBUFFER:FALSE
#SAVE_SPACE:/dev/null
REUSE_TEMPFILES:FALSE
#LYNX_HOST_NAME:www.cc.ukans.edu
#LOCALHOST_ALIAS:gopher.server.domain
#LOCAL_DOMAIN:ukans.edu
#AUTO_SESSION:FALSE
#SESSION_FILE:lynx_session
#SESSION_LIMIT:250
CHARACTER_SET:utf-8
LOCALE_CHARSET:TRUE
#HTML5_CHARSETS:FALSE
#ASSUME_CHARSET:iso-8859-1
#ASSUMED_DOC_CHARSET_CHOICE:*
#DISPLAY_CHARSET_CHOICE:*
#ASSUME_LOCAL_CHARSET:iso-8859-1
PREPEND_CHARSET_TO_SOURCE:FALSE
#NCR_IN_BOOKMARKS:FALSE
#FORCE_8BIT_TOUPPER:FALSE
#OUTGOING_MAIL_CHARSET:
#ASSUME_UNREC_CHARSET:iso-8859-1
PREFERRED_LANGUAGE:en
#PREFERRED_CHARSET:
#CHARSETS_DIRECTORY:
#CHARSET_SWITCH_RULES:
URL_DOMAIN_PREFIXES:www.
URL_DOMAIN_SUFFIXES:.space,.tilde,.org,.edu,.net,.com
#FORMS_OPTIONS:TRUE
#PARTIAL:TRUE
#PARTIAL_THRES:-1
#SHOW_KB_RATE:TRUE
.h2 SHOW_KB_NAME
#SHOW_KB_NAME:KiB
#INFOSECS:1
#MESSAGESECS:2
#ALERTSECS:3
#NO_PAUSE:FALSE
#DEBUGSECS:0
#REPLAYSECS:0
#USE_SELECT_POPUPS:TRUE
SHOW_CURSOR:TRUE
#UNDERLINE_LINKS:FALSE
#BOLD_HEADERS:FALSE
#BOLD_H1:FALSE
#BOLD_NAME_ANCHORS:FALSE
#DEFAULT_CACHE_SIZE:10
#DEFAULT_VIRTUAL_MEMORY_SIZE:512000
#SOURCE_CACHE:NONE
#SOURCE_CACHE_FOR_ABORTED:DROP
#ALWAYS_RESUBMIT_POSTS:FALSE
#TRIM_INPUT_FIELDS:FALSE
#NO_ISMAP_IF_USEMAP:FALSE
#SEEK_FRAG_MAP_IN_CUR:TRUE
#SEEK_FRAG_AREA_IN_CUR:TRUE
LOCAL_EXECUTION_LINKS_ALWAYS_ON:FALSE
LOCAL_EXECUTION_LINKS_ON_BUT_NOT_REMOTE:FALSE
TRUSTED_EXEC:none
ALWAYS_TRUSTED_EXEC:none
TRUSTED_LYNXCGI:none
#LYNXCGI_ENVIRONMENT:
#LYNXCGI_DOCUMENT_ROOT:
#FORCE_SSL_COOKIES_SECURE:FALSE
#MAIL_SYSTEM_ERROR_LOGGING:FALSE
#CHECKMAIL:FALSE
#NNTPSERVER:news.server.dom
#LIST_NEWS_NUMBERS:FALSE
#LIST_NEWS_DATES:FALSE
#NEWS_CHUNK_SIZE:30
#NEWS_MAX_CHUNK:40
#NEWS_POSTING:TRUE
#LYNX_SIG_FILE:.lynxsig
#BIBP_GLOBAL_SERVER:http://usin.org/
#BIBP_BIBHOST:http://bibhost/
#SCROLLBAR:FALSE
#SCROLLBAR_ARROW:TRUE
#USE_MOUSE:FALSE
#COLLAPSE_BR_TAGS:TRUE
#TAGSOUP:FALSE
#SET_COOKIES:TRUE
#ACCEPT_ALL_COOKIES:FALSE
#COOKIE_ACCEPT_DOMAINS:
#COOKIE_REJECT_DOMAINS:
#COOKIE_LOOSE_INVALID_DOMAINS:
#COOKIE_STRICT_INVALID_DOMAINS:
#COOKIE_QUERY_INVALID_DOMAINS:
#MAX_COOKIES_DOMAIN:50
#MAX_COOKIES_GLOBAL:500
#MAX_COOKIES_BUFFER:4096
PERSISTENT_COOKIES:FALSE
#COOKIE_FILE:~/.lynx_cookies
#COOKIE_SAVE_FILE:~/.lynx_cookies
#SYSTEM_MAIL:/usr/sbin/sendmail
#SYSTEM_MAIL_FLAGS:-t -oi
#USE_FIXED_RECORDS:TRUE
# Vi or Emacs movement keys, i.e. familiar hjkl or ^N^P^F^B .
# These are defaults, which can be changed in the Options Menu or .lynxrc .
#VI_KEYS_ALWAYS_ON:FALSE
#EMACS_KEYS_ALWAYS_ON:FALSE
DEFAULT_KEYPAD_MODE:LINKS_AND_FIELDS_ARE_NUMBERED
#NUMBER_LINKS_ON_LEFT:TRUE
#NUMBER_FIELDS_ON_LEFT:TRUE
#DEFAULT_KEYPAD_MODE_IS_NUMBERS_AS_ARROWS:TRUE
#CASE_SENSITIVE_ALWAYS_ON:FALSE
DEFAULT_BOOKMARK_FILE:lynx_bookmarks.html
#MULTI_BOOKMARK_SUPPORT:FALSE
#BLOCK_MULTI_BOOKMARKS:FALSE
# DEFAULT_USER_MODE sets the default user mode for Lynx users.
# NOVICE shows a three line help message at the bottom of the screen.
# INTERMEDIATE shows normal amount of help (one line).
# ADVANCED help is replaced by the URL of the current link.
#DEFAULT_USER_MODE:NOVICE
#DEFAULT_EDITOR:
#SYSTEM_EDITOR:
#POSITIONABLE_EDITOR:jmacs
#POSITIONABLE_EDITOR:joe
#POSITIONABLE_EDITOR:jove
#POSITIONABLE_EDITOR:jpico
#POSITIONABLE_EDITOR:jstar
#POSITIONABLE_EDITOR:nano
#POSITIONABLE_EDITOR:pico
#POSITIONABLE_EDITOR:rjoe
#POSITIONABLE_EDITOR:vi
#http_proxy:http://some.server.dom:port/
#https_proxy:http://some.server.dom:port/
#ftp_proxy:http://some.server.dom:port/
#gopher_proxy:http://some.server.dom:port/
#news_proxy:http://some.server.dom:port/
#newspost_proxy:http://some.server.dom:port/
#newsreply_proxy:http://some.server.dom:port/
#snews_proxy:http://some.server.dom:port/
#snewspost_proxy:http://some.server.dom:port/
#snewsreply_proxy:http://some.server.dom:port/
#nntp_proxy:http://some.server.dom:port/
#wais_proxy:http://some.server.dom:port/
#finger_proxy:http://some.server.dom:port/
#cso_proxy:http://some.server.dom:port/
#no_proxy:host.domain.dom
#no_proxy:domain.path1,path2
#no_proxy:*
NO_DOT_FILES:TRUE
#NO_FROM_HEADER:TRUE
#NO_REFERER_HEADER:FALSE
#NO_FILE_REFERER:TRUE
#REFERER_WITH_QUERY:DROP
#VERBOSE_IMAGES:TRUE
#MAKE_LINKS_FOR_ALL_IMAGES:FALSE
#MAKE_PSEUDO_ALTS_FOR_INLINES:TRUE
#SUBSTITUTE_UNDERSCORES:FALSE
#QUIT_DEFAULT_YES:TRUE
#HISTORICAL_COMMENTS:FALSE
MINIMAL_COMMENTS:TRUE
#SOFT_DQUOTES:FALSE
#STRIP_DOTDOT_URLS:TRUE
#ENABLE_SCROLLBACK:FALSE
#SCAN_FOR_BURIED_NEWS_REFS:TRUE
#PREPEND_BASE_TO_SOURCE:TRUE
GLOBAL_EXTENSION_MAP:/etc/mime.types
PERSONAL_EXTENSION_MAP:.mime.types
#SUFFIX_ORDER:PRECEDENCE_OTHER
SUFFIX:.html:text/html
SUFFIX:.txt:text/plain
SUFFIX:.tgz:application/octet-stream
SUFFIX:.deb:application/octet-stream
GLOBAL_MAILCAP:/etc/mailcap
PERSONAL_MAILCAP:.mailcap
#PREFERRED_MEDIA_TYPES:internal
#PREFERRED_ENCODING:all
#KEYMAP:0x5C:SOURCE		# Toggle source viewing mode (show HTML source)
#KEYMAP:^R:RELOAD		# Reload the current document and redisplay
#KEYMAP:^U:NEXT_DOC		# Undo (PREV_DOC)
#KEYMAP:q:QUIT			# Ask the user to quit
#KEYMAP:Q:ABORT			# Quit without verification
#KEYMAP:0x20:NEXT_PAGE		# Move down to next page
#KEYMAP:-:PREV_PAGE		# Move up to previous page
#KEYMAP:^P:UP_TWO		# Move display up two lines
#KEYMAP:INSERT_KEY:UP_TWO	# Function key Insert - Move display up two lines
#KEYMAP:^N:DOWN_TWO		# Move display down two lines
#KEYMAP:REMOVE_KEY:DOWN_TWO	# Function key Remove - Move display down two lines
#KEYMAP:(:UP_HALF		# Move display up half a page
#KEYMAP:):DOWN_HALF		# Move display down half a page
#KEYMAP:^W:REFRESH		# Refresh the screen
#KEYMAP:^A:HOME			# Go to top of current document
#KEYMAP:HOME:HOME		# Keypad Home - Go to top of current document
#KEYMAP:FIND_KEY:HOME		# Function key Find - Go to top of current document
#KEYMAP:^E:END			# Go to bottom of current document
#KEYMAP:END:END			# Keypad End - Go to bottom of current document
#KEYMAP:SELECT_KEY:END		# Function key Select - Go to bottom of current document
#KEYMAP:UPARROW:PREV_LINK	# Move to the previous link or page
#KEYMAP:DNARROW:NEXT_LINK	# Move to the next link or page
#KEYMAP:BACKTAB_KEY:FASTBACKW_LINK 	# Back Tab - Move to previous link or text area
#KEYMAP:^I:FASTFORW_LINK	# Tab key - Move always to next link or text area
#KEYMAP:^:FIRST_LINK		# Move to the first link on line
#KEYMAP:$:LAST_LINK		# Move to the last link on line
#KEYMAP:<:UP_LINK		# Move to the link above
#KEYMAP:>:DOWN_LINK		# Move to the link below
#KEYMAP:0x7F:HISTORY		# Show the history list
#KEYMAP:0x08:HISTORY		# Show the history list
#KEYMAP:LTARROW:PREV_DOC	# Return to the previous document in history stack
#KEYMAP:RTARROW:ACTIVATE	# Select the current link
#KEYMAP:DO_KEY:ACTIVATE		# Function key Do - Select the current link
#KEYMAP:g:GOTO			# Goto a random URL
#KEYMAP:G:ECGOTO		# Edit the current document's URL and go to it
#KEYMAP:H:HELP			# Show default help screen
#KEYMAP:F1:DWIMHELP		# Function key Help - Show a help screen
#KEYMAP:i:INDEX			# Show default index
#KEYMAP:x:NOCACHE		# Force submission of form or link with no-cache
#KEYMAP:z:INTERRUPT		# Interrupt network transmission
#KEYMAP:m:MAIN_MENU		# Return to the main menu
#KEYMAP:o:OPTIONS		# Show the options menu
#KEYMAP:i:INDEX_SEARCH		# Search a server based index
#KEYMAP:/:WHEREIS		# Find a string within the current document
#KEYMAP:n:NEXT			# Find next occurrence of string within document
#KEYMAP:c:COMMENT		# Comment to the author of the current document
#KEYMAP:C:CHDIR			# Change current directory
#KEYMAP:e:EDIT			# Edit current document or form's textarea (call: ^Ve)
#KEYMAP:E:ELGOTO		# Edit the current link's URL or ACTION and go to it
#KEYMAP:=:INFO			# Show info about current document
#KEYMAP:p:PRINT			# Show print options
#KEYMAP:a:ADD_BOOKMARK		# Add current document to bookmark list
#KEYMAP:v:VIEW_BOOKMARK		# View the bookmark list
#KEYMAP:V:VLINKS		# List links visited during the current Lynx session
#KEYMAP:!:SHELL			# Spawn default shell
#KEYMAP:d:DOWNLOAD		# Download current link
#KEYMAP:j:JUMP			# Jump to a predefined target
#KEYMAP:k:KEYMAP		# Display the current key map
#KEYMAP:l:LIST			# List the references (links) in the current document
#KEYMAP:#:TOOLBAR		# Go to the Toolbar or Banner in the current document
#KEYMAP:^T:TRACE_TOGGLE		# Toggle detailed tracing for debugging
#KEYMAP:;:TRACE_LOG		# View trace log if available for the current session
#KEYMAP:*:IMAGE_TOGGLE		# Toggle inclusion of links for all images
#KEYMAP:[:INLINE_TOGGLE		# Toggle pseudo-ALTs for inlines with no ALT string
#KEYMAP:]:HEAD			# Send a HEAD request for current document or link
#KEYMAP:,:EXTERN_PAGE		# Run external program with current page
#KEYMAP:.:EXTERN_LINK		# Run external program with current link
#KEYMAP:^V:SWITCH_DTD		# Toggle between SortaSGML and TagSoup HTML parsing
#KEYMAP:0x00:DO_NOTHING		# Does nothing (ignore this key)
#KEYMAP:DO_NOTHING:DO_NOTHING	# Does nothing (ignore this key)
#KEYMAP:{:SHIFT_LEFT		# shift the screen left
#KEYMAP:}:SHIFT_RIGHT		# shift the screen right
#KEYMAP:|:LINEWRAP_TOGGLE	# toggle linewrap on/off, for shift-commands
#KEYMAP:~:NESTED_TABLES		# toggle nested-tables parsing on/off
#AUTO_UNCACHE_DIRLISTS:2
#LIST_FORMAT:    %p %4l %-8.8o %-8.8g %7s %-12.12d %a
#NONRESTARTING_SIGWINCH:FALSE
NO_FORCED_CORE_DUMP:TRUE
#COLOR:0:black:white
#COLOR:1:blue:white
#COLOR:2:yellow:blue
#COLOR:3:green:white
#COLOR:4:magenta:white
#COLOR:5:blue:white
#COLOR:6:red:white
COLOR:6:brightred:black
#COLOR:7:magenta:cyan
#COLOR_STYLE: lynx.lss
#NESTED_TABLES: true
#ASSUMED_COLOR:default:default
#DEFAULT_COLORS:true
#PRETTYSRC:FALSE
#FORCE_EMPTY_HREFLESS_A:FALSE
#HIDDEN_LINK_MARKER:
#XHTML_PARSING:FALSE
#JUSTIFY:FALSE
#JUSTIFY_MAX_VOID_PERCENT:35
#TEXTFIELDS_NEED_ACTIVATION:FALSE
#LEFTARROW_IN_TEXTFIELD_PROMPT:FALSE
CONNECT_TIMEOUT:10
READ_TIMEOUT:10
#FTP_PASSIVE:TRUE
#ENABLE_LYNXRC:ACCEPT_ALL_COOKIES:ON
#ENABLE_LYNXRC:ASSUME_CHARSET:OFF
#ENABLE_LYNXRC:AUTO_SESSION:OFF
#ENABLE_LYNXRC:BOOKMARK_FILE:ON
#ENABLE_LYNXRC:CASE_SENSITIVE_SEARCHING:ON
#ENABLE_LYNXRC:CHARACTER_SET:ON
#ENABLE_LYNXRC:COOKIE_ACCEPT_DOMAINS:ON
#ENABLE_LYNXRC:COOKIE_FILE:ON
#ENABLE_LYNXRC:COOKIE_LOOSE_INVALID_DOMAINS:ON
#ENABLE_LYNXRC:COOKIE_QUERY_INVALID_DOMAINS:ON
#ENABLE_LYNXRC:COOKIE_REJECT_DOMAINS:ON
#ENABLE_LYNXRC:COOKIE_STRICT_INVALID_DOMAINS:ON
#ENABLE_LYNXRC:DIR_LIST_STYLE:ON
#ENABLE_LYNXRC:DISPLAY:OFF
#ENABLE_LYNXRC:EMACS_KEYS:ON
#ENABLE_LYNXRC:FILE_EDITOR:ON
#ENABLE_LYNXRC:FILE_SORTING_METHOD:ON
#ENABLE_LYNXRC:FORCE_COOKIE_PROMPT:OFF
#ENABLE_LYNXRC:FORCE_SSL_PROMPT:OFF
#ENABLE_LYNXRC:FTP_PASSIVE:OFF
#ENABLE_LYNXRC:HTML5_CHARSETS:OFF
#ENABLE_LYNXRC:KBLAYOUT:ON
#ENABLE_LYNXRC:KEYPAD_MODE:ON
#ENABLE_LYNXRC:LINEEDIT_MODE:ON
#ENABLE_LYNXRC:LOCALE_CHARSET:ON
#ENABLE_LYNXRC:MAKE_LINKS_FOR_ALL_IMAGES:OFF
#ENABLE_LYNXRC:MAKE_PSEUDO_ALTS_FOR_INLINES:OFF
#ENABLE_LYNXRC:MULTI_BOOKMARK:ON
#ENABLE_LYNXRC:NO_PAUSE:OFF
#ENABLE_LYNXRC:PERSONAL_MAIL_ADDRESS:ON
#ENABLE_LYNXRC:PREFERRED_CHARSET:ON
#ENABLE_LYNXRC:PREFERRED_ENCODING:OFF
#ENABLE_LYNXRC:PREFERRED_LANGUAGE:ON
#ENABLE_LYNXRC:PREFERRED_MEDIA_TYPES:OFF
#ENABLE_LYNXRC:RAW_MODE:OFF
#ENABLE_LYNXRC:RUN_ALL_EXECUTION_LINKS:ON
#ENABLE_LYNXRC:RUN_EXECUTION_LINKS_ON_LOCAL_FILES:ON
#ENABLE_LYNXRC:SCROLLBAR:OFF
#ENABLE_LYNXRC:SELECT_POPUPS:ON
#ENABLE_LYNXRC:SEND_USERAGENT:OFF
#ENABLE_LYNXRC:SESSION_FILE:OFF
#ENABLE_LYNXRC:SET_COOKIES:OFF
#ENABLE_LYNXRC:SHOW_COLOR:ON
#ENABLE_LYNXRC:SHOW_CURSOR:ON
#ENABLE_LYNXRC:SHOW_DOTFILES:ON
#ENABLE_LYNXRC:SHOW_KB_RATE:OFF
#ENABLE_LYNXRC:SUB_BOOKMARKS:ON
#ENABLE_LYNXRC:TAGSOUP:OFF
#ENABLE_LYNXRC:UNDERLINE_LINKS:OFF
#ENABLE_LYNXRC:USER_MODE:ON
#ENABLE_LYNXRC:SEND_USERAGENT:OFF
#ENABLE_LYNXRC:USERAGENT:OFF
#ENABLE_LYNXRC:VERBOSE_IMAGES:ON
#ENABLE_LYNXRC:VI_KEYS:ON
#ENABLE_LYNXRC:VISITED_LINKS:ON
#FORCE_SSL_PROMPT:PROMPT
#FORCE_COOKIE_PROMPT:PROMPT
SSL_CERT_FILE:/etc/ssl/certs/ca-certificates.crt
#SCREEN_SIZE:80,24
#NO_MARGINS:FALSE
#NO_TITLE:FALSE
SYSLOG_REQUESTED_URLS:FALSE
#SYSLOG_TEXT:
#STATUS_BUFFER_SIZE:40
#MAX_URI_SIZE:8192
#UNIQUE_URLS:FALSE
#MESSAGE_LANGUAGE:
#CONV_JISX0201KANA:TRUE
#WAIT_VIEWER_TERMINATION:FALSE
#TRACK_INTERNAL_LINKS:FALSE
#DONT_WRAP_PRE:FALSE
#FORCE_HTML:FALSE
#HIDDENLINKS:LISTONLY
SHORT_URL:TRUE
#LISTONLY:FALSE
#LIST_INLINE:FALSE
#LOCALHOST:FALSE
#WITH_BACKSPACES:FALSE
# external
#EXTERNAL:ftp:w3m %s:TRUE
#EXTERNAL:file:w3m %s:TRUE
#EXTERNAL:http:w3m %s:TRUE
#EXTERNAL:http:wget %s:TRUE
#EXTERNAL:http:wget -r %s:TRUE
#EXTERNAL:ftp:x-www-browser %s:TRUE
#EXTERNAL:file:x-www-browser %s:TRUE
#EXTERNAL:http:x-www-browser %s:TRUE
# include
#INCLUDE:/etc/lynx-cur/local.cfg
#INCLUDE:~/.lynx/colors:COLOR
#INCLUDE:~/.lynx/keymap:KEYMAP
#INCLUDE:~/.lynx/viewers:VIEWER
#INCLUDE:~/.lynx/external:EXTERNAL
